<nav class="main-nav">
  <a href="/show">
    <div class="hover">
      Home
    </div>
  </a>
  <a href="/createPromise">
    <div class="hover">
      Create promise
    </div>
  </a>
  <a href="/listPromises">
    <div class="hover">
      Promises
    </div>
  </a>
  <a href="/logout">
    <div class="hover">
      Logout
    </div>
  </a>
  <div id="user-input-holder">
    <input id="user-search" list="users" type="text" placeholder="Find user"/>
    <datalist id="users">
    </datalist>
  </div>
</nav>
