<nav class="main-nav">
  <div>
    <a href="/show">Home</a>
  </div>
  <div>
    <a href="/createPromise">Create promise</a>
  </div>
  <div>
    <a href="/listPromises">Promises</a>
  </div>
  <div>
    <a href="/logout">Logout</a>
  </div>

  Authorized? <%= @authorized %>
</nav>
