nav.main-nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav.main-nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.main-nav div {
  float: left;
}

nav.main-nav div:hover {
  background: green;
}

div.content {
  height: auto;
  width: auto;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
  display:block; 
}

textarea.input{
  width: 300px;
  height: 100px;
}

#comments-container {
  margin-left: 10px;
}

.comment {
  width: 100%;
  margin-top: 2px;
}

.comment-body {
  margin-left: 5px;
}

.comment-head {
  display: inline-block;
  background: #dbdbdb;
  margin-bottom: 3px;
  border-radius: 7px;
}

.promise-content {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.promise-content img {
  margin: 0 auto;
  display: block;
  height: 25px;
  width: 25px;
}

.promise-status div {
  font-size: 75%;
}

.promise-status div.not-started {
  color: grey;
}

.promise-status div.in-progress {
  color: orange;
}

.promise-status div.broken {
  color: red;
}

.promise-status div.completed {
  color: green;
}

#promises-table {
  width: 100%;
  margin-top: 10px;
  /* Hopefully will make the table borders curly. */
  border-radius: 6px;
  border-spacing: 0;
  border: solid black 1px;
  -moz-border-radius: 6px;
}

#promises-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#promises-table th, td {
  text-align: left;
  padding: 8px;
}

#promises-table th {
  color: white;
  background-color: green;
}

#promises-table th:nth-child(1) { width: 5%; }
#promises-table th:nth-child(2) { width: 20%; }
#promises-table th:nth-child(3) { width: 35%; }
#promises-table th:nth-child(4) { width: 25%; }
#promises-table th:nth-child(5) { width: 15%; }

#promises-table .header:hover {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  opacity: 0.75;
  cursor: pointer;
}

a.action {
  display: block;
}

.black-overlay {
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background-color: black;
   z-index:1001;
   -moz-opacity: 0.8;
   opacity:.80;
   filter: alpha(opacity=80);
}

.popup {
   position: absolute;
   top: 25%;
   left: 25%;
   width: 50%;
   height: 50%;
   padding: 16px;
   background-color: white;
   z-index:1002;
   overflow: auto;
}

.user-stats img {
  margin: 0 auto;
  height: 32px;
  width: 32px;
}
