nav.main-nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav.main-nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.main-nav div {
  float: left;
}

nav.main-nav div:hover {
  background: green;
}

div.content {
  margin-left: 15px;
  height: auto;
  width: auto;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
  display:block; 
}

textarea.input{
  width: 300px;
  height: 100px;
}

#comments-container {
  margin-left: 10px;
}

.comment {
  width: 100%;
  margin-top: 2px;
}

.comment-body {
  margin-left: 5px;
}

.comment-head {
  display: inline-block;
  background: #dbdbdb;
  margin-bottom: 3px;
  border-radius: 7px;
}

.promise-content {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.promise-content img {
  margin: 0 auto;
  display: block;
  height: 25px;
  width: 25px;
}

.promise-status div {
  font-size: 75%;
}

.promise-status div.not-started {
  color: grey;
}

.promise-status div.in-progress {
  color: yellow;
}

.promise-status div.broken {
  color: red;
}

.promise-status div.completed {
  color: green;
}

#promises-table {
  width: 100%;
  margin-top: 10px;
  /* Hopefully will make the table borders curly. */
  border-radius: 6px;
  border-spacing: 0;
  border: solid black 1px;
  -moz-border-radius: 6px;
}

#promises-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#promises-table th, td {
  text-align: left;
  padding: 8px;
}

#promises-table th {
  color: white;
  background-color: green;
}

#promises-table th:nth-child(1) { width: 5%; }
#promises-table th:nth-child(2) { width: 20%; }
#promises-table th:nth-child(3) { width: 45%; }
#promises-table th:nth-child(4) { width: 30%; }

a.action {
  display: inline-block;
}
