<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/find-user.js"></script>
    <title><%= @current_user.full_name %> | Promises</title>
  </head>
  <body>
    <%= partial 'navigation' %>
    <div class="content">
      <h1>Create promise</h1>
      <form method="post" action="/createPromise">
        <label for="title">Title: </label>
        <input class="input" type="text" name="title" id="title" placeholder="Promise title" />
        <label for="pr">Privacy:</label>
        <select class="input" id="pr" name="privacy">
          <option value="0">Public (anyone can update status)</option>
          <option value="1">Private (only you can update status)</option>
        </select>
        <label for="body">Body: </label>
        <textarea class="input" name="body" id="body" placeholder="Promise"></textarea>
        <input type="submit"/>
      </form>
    </div>
  </body>
</html>
