<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <title><%= @current_user.full_name %> | Promises</title>
  </head>
  <body>
    <%= partial 'navigation' %>
    <div class="content">
      <h1>Create promise</h1>
      <form method="post" action="/createPromise">
        <label for="title">Title: </label>
        <input class="input" type="text" name="title" id="title" placeholder="Promise title" />
        <label for="body">Body: </label>
        <textarea class="input" name="body" id="body" placeholder="Promise"></textarea>
        <input type="submit"/>
      </form>
    </div>
  </body>
</html>
