<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/find-user.js"></script>
    <title><%= @current_user.full_name %> | Promises</title>
  </head>
  <body>
    <%= partial 'navigation' %>
    <div class="content">
      <div id="create-promise-form" class="promise-form">
        <h1 class="main-font">Create promise</h1>
        <form method="post" action="/createPromise">
          <input class="transparent-input" type="text" name="title"
              placeholder="Promise title" />
          <br />

          <select class="transparent-select" id="pr" name="privacy">
            <option selected disabled>
              Choose privacy
            </option>
            <option value="0">
              Public (anyone can update status)
            </option>
            <option value="1">
              Private (only you can update status)
            </option>
          </select>
          <br />

          <textarea class="transparent-input" rows="8"
              name="body" id="promise-body" placeholder="Promise"></textarea>
          <br />

          <input class="transparent-submit" type="submit"/>
        </form>
      </div>
    </div>
  </body>
</html>
