<!DOCTYPE html>
<head>
  <link href="css/style.css" rel="stylesheet">
  <title>Login | Guac</title>
</head>
  <body>
    <div class="content">
      <h1>Login</h1>
      <form method="post" action="/login">
        <label for="username">Username:</label> 
        <input class="input" type="text" name="username">
        <input class="input" type="submit" value="Login"/>
      </form>
      <div>
        Don't have an account? <a href="/register">Register!</a>
      </div>
    </div>
  </body>
</html>
