<!DOCTYPE html>
<head>
  <link href="css/style.css" rel="stylesheet">
  <title>Login | Guac</title>
</head>
  <body background="images/blurry.jpg">
    <div class="login-form">
      <form id="form-login" method="post" action="/login">
        <input class="input" type="text" 
            name="username" placeholder="Username">
        <input class="input" type="submit" value="Login"/>
      </form>
      <div id="offer-registration">
        Don't have an account? <a href="/register">Register!</a>
      </div>
    </div>
  </body>
</html>
