  <head>
  <title>Login | Guac</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/upload">Test upload</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </nav>
      <form method="post" action="/login">
          username:<input type="text" name="username"><br/>
          <button name="register">Login</button>
      </form>
  </body>
</html>
