<!DOCTYPE html>
<html>
  <head>
  <title>Register | Tweeter</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </nav>
      <form method="post" action="/register">
          username:<input type="text" name="username"><br/>
          email:<input type="email" name="email"><br/>
          first name:<input type="text" name="first_name"><br/>
          last name:<input type="text" name="last_name"><br/>
          <button name="register">Register</button>
      </form>
  </body>
</html>