<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <title>Register | Guac</title>
  </head>
  <body>
    <div class="register-form">
      <form method="post" action="/register">
        <input id="name" class="input" type="text"
            placeholder="Username" name="username"><br/>
        <input id="mail" class="input" type="email"
            placeholder="Email" name="email"><br/>
        <input id="fn" class="input" type="text"
            placeholder="First name" name="first_name"><br/>
        <input id="ln" class="input" type="text"
            placeholder="Last name" name="last_name"><br/>
        <input id="loc" class="input" type="text"
            placeholder="Location" name="location"/><br/>
        <label for="type">Admin:</label>
        <input id="type" class="input" type="checkbox"
            name="role"/>
        <input type="submit" value="Register" class="input"/>
      </form>
      <div id="offer-login">
        Already have an account? <a href="/login">Login!</a>
      </div>
    </div>
  </body>
</html>
