<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <title>Register | Guac</title>
  </head>
  <body>
    <div class="content">
      <form method="post" action="/register">
        <label for="name">Username:</label>
        <input id="name" class="input" type="text" name="username"><br/>
        <label for="mail">Email:</label>
        <input id="mail" class="input" type="email" name="email"><br/>
        <label for="fn">First name:</label>
        <input id="fn" class="input" type="text" name="first_name"><br/>
        <label for="ln">Last name:</label>
        <input id="ln" class="input" type="text" name="last_name"><br/>
        <input type="submit" value="Register" class="input"/>
      </form>
      <div>
        Already have an account? <a href="/login">Login!</a>
      </div>
    </div>
  </body>
</html>
